

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* In your global CSS file (e.g., index.css) */
@keyframes blink {
  0% {
    opacity: 1;
    color: rgb(208, 96, 96);
  }
  50% {
    opacity: 0;
    color: #000;
  }
  100% {
    opacity: 1;
    color: #f40d0d;
  }
}

.animate-blink {
  animation: blink 1s infinite step-start;
}

